<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn fixed-bottom">
  <div class="pt-4">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- MCPlayNetwork -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8017032553209403" data-ad-slot="8702758350"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <hr class="my-4">

  <div class="pb-4">
    <a href="{{site.social.Twitter}}" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>
    <a href="{{site.social.YouTube}}" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>
    <a href="{{site.social.GitHub}}" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>
  </div>

  <div class="footer-copyright py-3">
      &copy; {{ site.time | date:'%Y' }}, <a href="{{site.social.url}}" target="_blank">{{site.name}}</a>. All Rights Reserved.
  </div>

</footer>