<!DOCTYPE html>
<html lang="ja">
{% include head.html %}

<body class="grey lighten-3" id="page-top">
    {% include header.html %}
    <main class="mt-5 pt-5">
        <div class="container">
            <section class="mt-4">
                {% if page.markdown %}
                <div class="card mb-4 wow fadeIn">
                    <div class="card-body">
                        {{content}}
                    </div>
                </div>
                {% else %}
                {{content}}
                {% endif %}
            </section>
        </div>

    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>